<div class="book-card">
  <div class="book-image-container" [routerLink]="['/book', book.bookId]">
    <img
      [src]="book.imageUrl || 'assets/images/default-book.jpg'"
      [alt]="book.title"
      class="book-image"
    />
  </div>
  <div class="book-info">
    <h3 class="book-title">{{ book.title }}</h3>
    <p class="book-author">{{ book.author?.name }}</p>
    <p class="book-category">{{ book.category?.name }}</p>
    <div class="price-section">
      <span class="book-price">&#8377;{{ book.price.toFixed(2) }}</span>

      <app-add-to-cart-button
        [product]="product"
        (handleAdd)="addItemToCart($event)"
      ></app-add-to-cart-button>
    </div>
  </div>
</div>
